<style>
    .contact_us_lbl {
        color: #438EB9;
        font-size: 2.5em;
    }

    #container {
        top: 20%;
        padding: 10px;
        width: 70%;
        margin-left: 10%;
    }

    #left_container {
        width: 50%;
        float: left;
    }

    #right_container {
        background-image: url("/assets/wave-pattern-white.png");
        border: 1px solid #DDDDDD;
        float: right;
        padding: 0 20px;
        width: 40%;

    }

    .contact_lbl {
        color: #E8554E;
    }

    p {
        font-size: 1.1em;
        line-height: 20px;
    }

    #happy_help {
        font-size: 2em;
        color: #87B87F;
    }
    p a {
        font-weight: 300;
    }
    p a:hover{
        color: #000000;
        text-decoration: underline;
    }

</style>
<div id='top_bar'>
  <a href="/" id='logo'>
  </a>
  <% if current_user.present? %>
      <%= link_to 'Logout', signout_path, id: "logout_btn", class: "red_button" %>
  <% else %>
      <%= link_to 'Login', '/', id: "logout_btn", class: "red_button" %>
  <% end %>
  <a id="pricing_btn" class="light_button" href='/pricing'>Pricing</a>
</div>
<div id="container">
  <div id="left_container">
    <h1 class="contact_us_lbl">Contact Us</h1>

    <p class="text">We are here to answer any questions you may have. Reach out to us and we'll respond as soon as we
      can.</p>

    <p class="text">Even if there is something you have always wanted to get and can't find it on Let.Me.Practice., let
      us know and we promise we'll do our best to find a solution for your queries.</p>

    <h3>For Password Issue:</h3>

    <p class="text">Shoot us a mail and we will send you a new password within 1 hour to your registered email.</p>
  </div>
  <div id="right_container">
    <h1 id="happy_help">We are here to help you !!!</h1>

    <p class="contact_lbl">CALL</p>

    <p>+91-9833664934</p>

    <p class="contact_lbl">EMAIL</p>

    <p><a href="mailto:mail@letmepractice.com">mail@letmepractice.com</a></p>

    <p class="bluetext">
      If you have any queries regarding questions and their answers, kindly drop us an email and we promise to look in
      to the matter at the earliest.
    </p>
  </div>

</div>
<div id='footer_panel' style="position: absolute; top: 600px">
  <div id='copyright'>All Rights Reserved. 2013 <span class="copy_sym">&copy;</span>
    <a href='#'><span class="Y YB_logo">Yuva</span><span class="B YB_logo">Beat</span></a>
  </div>
</div>