<style>

    #container {
        top: 15%;
        padding: 10px;
        width: 96%;
        position: absolute;
    }

    #left_container {
        width: 50%;
        float: left;
    }

    #right_container {
        float: right;
        width: 40%;
    }

    #contact_container {
        background-image: url("/assets/wave-pattern-white.png");
        border: 1px solid #DDDDDD;
        padding: 0 20px;
        margin-top: 9%;
        height: 211px;
    }

    .contact_lbl {
        color: #E8554E;
    }

    p {
        font-size: 1.1em;
        line-height: 20px;
    }

    #happy_help {
        font-size: 2em;
        color: #87B87F;
    }

    #sign_up_btn {
        font-size: 2.2em;
        margin-top: 8.9%;
        padding: 30px 13px;
    }

    p a {
        font-weight: 300;
    }
    p a:hover{
        color: #000000;
        text-decoration: underline;
    }

</style>
<div id='top_bar'>
  <a href="/" id='logo'>
  </a>
  <% if current_user.present? %>
      <%= link_to 'Logout', signout_path, id: "logout_btn", class: "red_button" %>
  <% else %>
      <%= link_to 'Login', '/', id: "logout_btn", class: "red_button" %>
  <% end %>
  <a id="contact_us_btn" class="light_button" href='/contact_us'>Contact Us</a>
</div>
<div id="container">
  <div id="left_container">
    <img src="assets/pricing.jpg">

    <p class="text">* First Year Launch discount of Rs. 50 on 10 Tests and Rs. 100 on 15 Tests.</p>
  </div>
  <div id="right_container">
    <div id="contact_container">
      <h1 id="happy_help">For more details:</h1>

      <p class="contact_lbl">CALL</p>

      <p>+91-9833664934</p>

      <p class="contact_lbl">EMAIL</p>

      <p><a href="mailto:mail@letmepractice.com">mail@letmepractice.com</a></p>

    </div>
    <% if current_user.present? %>
        <% if !current_user.has_paid %>
            <div class="alert_upgrade" style="float: left; margin-top: 9%; padding: 35px 5px 22px; width: 98%;">
              Upgrade for MORE Tests!!! Practice & Conquer IT!!
            </div>
        <% end %>
    <% else %>
        <%= link_to "Practice one FREE Test!!!", '/users/sign_up', id: "sign_up_btn", class: "red_button" %>
    <% end %>
  </div>

</div>
<div id='footer_panel' style="position: absolute; top: 600px">
  <div id='copyright'>All Rights Reserved. 2013 <span class="copy_sym">&copy;</span>
    <a href='#'><span class="Y YB_logo">Yuva</span><span class="B YB_logo">Beat</span></a>
  </div>
</div>